@{
    ViewData["Title"] = "Thông tin";
}
<link rel="stylesheet" href="~/css/Article.css" asp-append-version="true">


<div class="cover_list_news">
    <div class="name_cate_cover animcc">Cấp cứu</div>
    <img src="~/images/bg_article.jpg" alt="Cấp cứu">
</div>

<div class="container">
    
    <div class="bread-flow">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bài viết</li>
            </ol>
        </nav>
    </div>

    <div class="content title-content_arti">
        <h2>CẤP CỨU - HỒI SỨC TÍCH CỰC</h2>

        <div class="content-article">
            <p>
                Đây là nơi chúng tôi cung cấp dịch vụ cấp cứu và hồi sức tích cực. 
                Chúng tôi cam kết mang đến sự chăm sóc chuyên nghiệp và kịp thời cho mọi bệnh nhân.
            </p>
        </div>
    </div>
</div>
    