@{
    ViewData["Title"] = "Home Page";
}
<section class="banner-homepage">
    <div class="banner-slider" id="banner-slider">
        <div class="cover_track glide__track" data-glide-el="track">
            <div class="cover_glide__slides glide__slides">
                <a class="cover_glide__slide glide__slide item">
                    <img class="image-pc" src="~/images/silde1.png">
                </a>
                <a class="cover_glide__slide glide__slide item">
                    <img class="image-pc" src="~/images/silde2.jpg">
                </a>
                <a class="cover_glide__slide glide__slide item">
                    <img class="image-pc" src="~/images/silde3.png" >
                </a>
                <a class="cover_glide__slide glide__slide item">
                    <img class="image-pc" src="~/images/silde4.png">
                </a>
                <a class="cover_glide__slide glide__slide item">
                    <img class="image-pc" src="~/images/silde5.png"> 
                </a>
                <a class="cover_glide__slide glide__slide item">
                    <img class="image-pc" src="~/images/silde6.png">      
                </a>
            </div>
        </div>
        <div class="cover_bullets glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
            <button class="glide__bullet" data-glide-dir="=3"></button>
            <button class="glide__bullet" data-glide-dir="=4"></button>
            <button class="glide__bullet" data-glide-dir="=5"></button>    
        </div>
    </div>

    <div class="banner-content container">
        <div class="container_body margin-auto inner-content">
            <div class="text-banner anim">
                <h1 class="title-banner anim">Chăm sóc bằng tài năng, y đức và sự thấu cảm</h1>
                <div class="desc-banner anim">VOV Bác sĩ cam kết về trách nhiệm xã hội và đóng góp tích cực vào sự phát triển bền vững của cộng đồng</div>
                <a href="#" id="home-banner-viewmore" class="viewmore-button anim">
                    <span class="viewmore-text anim">
                        Xem thêm
                    </span>
                </a>
            </div>
            <div class="cta-banner row animY">
                <a class="col-4 cta-item" href="#"  style="text-decoration: none;">
                    <div class="cta-icon">
                        <img src="~/images/call.png" alt="Gọi tổng đài">
                    </div>
                    <div class="cta-info">
                        <div class="cta-name">Gọi tổng đài</div>
                        <div class="cta-desc">
                        Hỏi về phương pháp điều trị và phương pháp của chúng tôi
                        </div>
                    </div>
                </a>
                <a class="col-4 cta-item" href="#" style="text-decoration: none;">
                    <div class="cta-icon">
                        <img src="~/images/calader.png" alt>
                    </div>
                    <div class="cta-info">
                        <div class="cta-name">Đặt Lịch Hẹn</div>
                        <div class="cta-desc">
                        Đặt lịch hẹn với bệnh viện của chúng tôi
                        </div>
                    </div>
                </a>
                <a class="col-4 cta-item" href="#"  style="text-decoration: none;">
                    <div class="cta-icon">
                        <img src="~/images/doctor.png" alt>
                    </div>
                    <div class="cta-info">
                        <div class="cta-name">Tìm bác sĩ</div>
                        <div class="cta-desc">
                        Chọn theo tên, chuyên môn và nhiều hơn thế
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <main role="main">
        <div class="layout-content">
            <h2>
                Tại sao nên chọn VOV Bác sĩ 24?
            </h2>
            <div class="content-1">
                <img src="~/images/doctor_female.png" style="width: 465px;"/>
                <div class="col-7">
                    <div class="list-whyus row">
                        <div class="col-6 item-whyus">
                            <div class="item-icon">
                                <img  src="~/images/whyus_hear.png" alt="Đội ngũ bác sĩ uy tín">
                            </div>
                            <h3 class="item-title">Đội ngũ bác sĩ uy tín</h3>
                            <div class="item-desc">VOV Bác sĩ 24 sở hữu đội ngũ bác sĩ giàu kinh nghiệm và uy tín, luôn tận tâm chăm sóc sức khỏe cho mọi bệnh nhân. Chúng tôi cam kết mang đến dịch vụ y tế chất lượng cao, phục vụ cộng đồng với tinh thần trách nhiệm và chuyên nghiệp.</div>
                        </div>
                        <div class="col-6 item-whyus">
                            <div class="item-icon">
                                <img src="~/images/whyus_protect.png" alt="Tư vấn y tế nhanh chóng">
                            </div>
                            <h3 class="item-title">Tư vấn y tế nhanh chóng</h3>
                            <div class="item-desc">Dịch vụ tư vấn y tế trực tuyến của VOV Bác sĩ 24 giúp bạn tiếp cận bác sĩ một cách nhanh chóng, tiết kiệm thời gian di chuyển. Chúng tôi luôn sẵn sàng lắng nghe và đưa ra lời khuyên y tế hữu ích ngay khi bạn cần.</div>
                        </div>
                        <div class="col-6 item-whyus">
                            <div class="item-icon">
                                <img  src="~/images/whyus_heart.png" alt="Dịch vụ trực tuyến tiện lợi">
                            </div>
                            <h3 class="item-title">Dịch vụ trực tuyến tiện lợi</h3>
                            <div class="item-desc">VOV Bác sĩ 24 mang đến dịch vụ y tế trực tuyến tiện lợi, giúp bạn dễ dàng đặt lịch hẹn, nhận tư vấn từ xa và theo dõi tình trạng sức khỏe qua hệ thống trực tuyến mọi lúc, mọi nơi.</div>
                        </div>
                        <div class="col-6 item-whyus">
                            <div class="item-icon">
                                <img  src="~/images/whyus_hear.png" alt="Công nghệ y tế tiên tiến">
                            </div>
                            <h3 class="item-title">Công nghệ y tế tiên tiến</h3>
                            <div class="item-desc">Chúng tôi áp dụng các công nghệ y tế tiên tiến, đảm bảo mang đến trải nghiệm chăm sóc sức khỏe chất lượng và hiện đại, đáp ứng các tiêu chuẩn quốc tế trong khám và điều trị.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<section class="content-2">
    <div class="container">
        <div class="layout-content">
            <h2 class="title-line" style="text-align: center;">Danh sách các bệnh viện hàng đầu Việt Nam</h2>     
            <div class="list-hospital" >
                <a href="#" class="item-hospital">
                    <img src="~/images/hospital1.jpeg"/>
                    <label>BV TW Quân Đội 108W Quân Đội 108</label>
                </a>
                <div href="#" class="item-hospital">
                    <img src="~/images/hospital1.jpeg"/>
                    <label>BV TW Quân Đội 108W Quân Đội 108</label>
                </div>
                <div href="#" class="item-hospital">
                    <img src="~/images/hospital1.jpeg"/>
                    <label>BV TW Quân Đội 108W Quân Đội 108</label>
                </div>
                <div href="#" class="item-hospital">
                    <img src="~/images/hospital1.jpeg"/>
                    <label>BV TW Quân Đội 108W Quân Đội 108</label>
                </div>
                <div href="#" class="item-hospital">
                    <img src="~/images/hospital1.jpeg"/>
                    <label>BV TW Quân Đội 108W Quân Đội 108</label>
                </div>
                <div href="#" class="item-hospital">
                    <img src="~/images/hospital1.jpeg"/>
                    <label>BV TW Quân Đội 108W Quân Đội 108</label>
                </div>
                <div href="#" class="item-hospital">
                    <img src="~/images/hospital1.jpeg"/>
                    <label>BV TW Quân Đội 108W Quân Đội 108</label>
                </div>
                
            </div>        
            
        </div>
    </div>
</section>

 <section class="clinic-system content-3">
    <div class="container margin-auto">
        <div class="row">
            <div class="col-6 clinic-large">
                <div class="list-clinic-large">
                    <div class="glide__track" data-glide-el="track">
                        <div class="glide__slides-3">
                            <figure class="item glide__slide-3">
                                <img  src="~/images/bs1.jpeg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img  src="~/images/bs2.jpeg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs3.jpeg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs4.jpg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs5.jpg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs6.jpg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs7.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="sect-head ">
                    <h2 class="title-line">Top các bác sĩ hàng đầu</h2>
                    <div class="sect-desc">VOV Bác sĩ 24 tự hào quy tụ đội ngũ bác sĩ hàng đầu với nhiều năm kinh nghiệm, chuyên môn cao, luôn tận tâm trong việc chăm sóc sức khỏe cho bệnh nhân và được các bệnh nhân thường xuyên lựa chọn.</div>
                </div>
                <div class="list-clinic-thumb">
                    <div class="glide__track" data-glide-el="track">
                        <div class="glide__slides-3">
                             <figure class="item glide__slide-3">
                                <img  src="~/images/bs1.jpeg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img  src="~/images/bs2.jpeg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs3.jpeg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs4.jpg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs5.jpg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs6.jpg" alt="">
                            </figure>
                            <figure class="item glide__slide-3">
                                <img src="~/images/bs7.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt30">
                <a href="/vie/co-so-y-te/" id="hospital-btn" class="viewmore-button">Xem thêm</a>
            </div>
        </div>
        @* <div class="home-news">
            <style>
            .cate_bottom_main span:not(:last-of-type)::after {
                content: "|";
                padding: 0 15px;
            }

            .botton-widget-button {
                white-space: nowrap;
            }
            </style>
            <section class="bottom_main">
                <div class="cate_bottom_main mb3">
                    <span data-toggle="botton-widget-tab-36" class=" botton-widget-button cursor text-blue">Câu chuyện khách hàng</span>
                    <span data-toggle="botton-widget-tab-34" class=" botton-widget-button cursor text-blue">Thông tin sức khỏe</span>
                </div>
                <div id="botton-widget-tab-36" class=" flex list_four_new none-bor botton-news-widget" style="display:none;justify-content: space-around;">
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/vinmec-thuc-hien-thanh-cong-ca-phau-thuat-tai-tao-long-nguc-bang-titan-ung-dung-cong-nghe-in-3d-dau-tien-o-dong-nam-a">
                            <img loading="lazy" alt="Vinmec thực hiện thành công ca phẫu thuật tái tạo lồng ngực bằng titan ứng dụng công nghệ in 3d đầu tiên ở Đông Nam Á" src="/static//uploads/small_Thanh_cong_cua_ca_mo_nay_danh_dau_mot_buoc_tien_quan_trong_mo_ra_huong_di_moi_trong_viec_dieu_tri_cac_benh_ly_tim_mach_ef9afc5462.jpg" alt="Vinmec thực hiện thành công ca phẫu thuật tái tạo lồng ngực bằng titan ứng dụng công nghệ in 3d đầu tiên ở Đông Nam Á">
                        </a>
                        <a href="/vie/bai-viet/vinmec-thuc-hien-thanh-cong-ca-phau-thuat-tai-tao-long-nguc-bang-titan-ung-dung-cong-nghe-in-3d-dau-tien-o-dong-nam-a" class="f15 mt2">Vinmec thực hiện thành công ca phẫu thuật tái tạo lồng ngực bằng titan ứng dụng công nghệ in 3d đầu tiên ở Đông Nam Á</a>
                    </div>
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/vinmec-cong-bo-ca-mo-tim-ho-khong-morphin-giam-dau-dau-tien-tren-the-gioi">
                            <img loading="lazy" alt="Vinmec công bố ca mổ tim hở không Morphin giảm đau đầu tiên trên thế giới" src="/static//uploads/small_20190128_032423_386011_chi_diep_max_1800x1800_4f2773d0b6.jpg" alt="Vinmec công bố ca mổ tim hở không Morphin giảm đau đầu tiên trên thế giới">
                        </a>
                        <a href="/vie/bai-viet/vinmec-cong-bo-ca-mo-tim-ho-khong-morphin-giam-dau-dau-tien-tren-the-gioi" class="f15 mt2">Vinmec công bố ca mổ tim hở không Morphin giảm đau đầu tiên trên thế giới</a>
                    </div>
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/ung-thu-xuong-me-cua-chien-binh-cung-la-chien-binh">
                            <img loading="lazy" alt="Ung thư xương: Mẹ của “chiến binh” cũng là chiến binh" src="/static//uploads/small_Image_55470f7296.png" alt="Ung thư xương: Mẹ của “chiến binh” cũng là chiến binh">
                        </a>
                        <a href="/vie/bai-viet/ung-thu-xuong-me-cua-chien-binh-cung-la-chien-binh" class="f15 mt2">Ung thư xương: Mẹ của “chiến binh” cũng là chiến binh</a>
                    </div>
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/vinmec-phau-thuat-thanh-cong-cho-2-me-con-cung-bi-chen-ep-day-than-kinh-so-7-co-giat-mat-nhieu-nam-1">
                            <img loading="lazy" alt="Vinmec phẫu thuật thành công cho 2 mẹ con cùng bị chèn ép dây thần kinh số 7, co giật mặt nhiều năm" src="/static//uploads/small_benh_nhan_liet_day_than_kinh_so_7_93d3a8b6a8.jpg" alt="Vinmec phẫu thuật thành công cho 2 mẹ con cùng bị chèn ép dây thần kinh số 7, co giật mặt nhiều năm">
                        </a>
                        <a href="/vie/bai-viet/vinmec-phau-thuat-thanh-cong-cho-2-me-con-cung-bi-chen-ep-day-than-kinh-so-7-co-giat-mat-nhieu-nam-1" class="f15 mt2">Vinmec phẫu thuật thành công cho 2 mẹ con cùng bị chèn ép dây thần kinh số 7, co giật mặt nhiều năm</a>
                    </div>
                </div>
                <div id="botton-widget-tab-34" class=" flex list_four_new none-bor botton-news-widget" style="display:none;justify-content: space-around;">
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/acute-myeloid-leukemia-vi">
                            <img loading="lazy" alt="Acute myeloid leukemia" src="/static//uploads/small_20200122_081951_654487_AML_max_1800x1800_png_5d8ed7a201.png" alt="Acute myeloid leukemia">
                        </a>
                        <a href="/vie/bai-viet/acute-myeloid-leukemia-vi" class="f15 mt2">Acute myeloid leukemia</a>
                    </div>
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/-co-hong-sung-mot-ben-dau-khi-nuot-la-dau-hieu-benh-ly-gi-vi">
                            <img loading="lazy" alt="Cổ họng sưng một bên, đau khi nuốt là dấu hiệu bệnh lý gì?" src="/static//uploads/small_20191016_110308_346962_viem_hong_hat_hoc_m_max_1800x1800_png_366904771c.png" alt="Cổ họng sưng một bên, đau khi nuốt là dấu hiệu bệnh lý gì?">
                        </a>
                        <a href="/vie/bai-viet/-co-hong-sung-mot-ben-dau-khi-nuot-la-dau-hieu-benh-ly-gi-vi" class="f15 mt2">Cổ họng sưng một bên, đau khi nuốt là dấu hiệu bệnh lý gì?</a>
                    </div>
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/-rach-day-ham-bao-quy-dau-co-tu-lanh-duoc-khong-vi">
                            <img loading="lazy" alt="Rách dây hãm bao quy đầu có tự lành được không?" src="/static//uploads/small_20200511_073942_508759_unnamed_7_max_1800x1800_jpg_34acd08cbf.jpg" alt="Rách dây hãm bao quy đầu có tự lành được không?">
                        </a>
                        <a href="/vie/bai-viet/-rach-day-ham-bao-quy-dau-co-tu-lanh-duoc-khong-vi" class="f15 mt2">Rách dây hãm bao quy đầu có tự lành được không?</a>
                    </div>
                    <div class="col-3 post-thumb-medium">
                        <a href="/vie/bai-viet/-am-dao-ra-dich-nau-kem-dau-bung-sau-sinh-mo-co-dang-lo-khong-vi">
                            <img loading="lazy" alt="Âm đạo ra dịch nâu kèm đau bụng sau sinh mổ có đáng lo không?" src="/static//uploads/small_20190508_144817_577473_tiet_dich_am_dao_max_1800x1800_jpg_907e2026f2.jpg" alt="Âm đạo ra dịch nâu kèm đau bụng sau sinh mổ có đáng lo không?">
                        </a>
                        <a href="/vie/bai-viet/-am-dao-ra-dich-nau-kem-dau-bung-sau-sinh-mo-co-dang-lo-khong-vi" class="f15 mt2">Âm đạo ra dịch nâu kèm đau bụng sau sinh mổ có đáng lo không?</a>
                    </div>
                </div>
            </section>
            <script>
            document.addEventListener('DOMContentLoaded', function() {
                let tabs = document.querySelectorAll('[data-toggle]');
                document.querySelectorAll('.botton-news-widget').forEach((tabContent, index) => {
                    if (index === 0) {
                        tabContent.style.display = 'flex';
                    } else {
                        tabContent.style.display = 'none';
                    }
                });
                tabs.forEach(tab => {
                    tab.addEventListener('click', function() {
                        let target = this.getAttribute('data-toggle');
                        let tabContents = document.querySelectorAll('.botton-news-widget');
                        tabContents.forEach(tabContent => {
                            tabContent.style.display = 'none';
                        });
                        document.getElementById(target).style.display = 'flex';
                    });
                });

            });
            </script>
        </div> *@
    </div>
</section>





 @* //-------- Script ---------// *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var glide = new Glide('#banner-slider', {
            type: 'carousel',
            perView: 1,
            autoplay: 4000, // Tự động chuyển ảnh sau mỗi 5 giây
            hoverpause: true // Dừng tự động chuyển khi di chuột qua
        }).mount();

        // Cập nhật trạng thái active của nút điều khiển
        glide.on(['mount.after', 'run'], function() {
            document.querySelectorAll('.glide__bullet').forEach(function(bullet, index) {
                if (index === glide.index) {
                    bullet.classList.add('glide__bullet--active');
                } else {
                    bullet.classList.remove('glide__bullet--active');
                }
            });
        });
    });
    var modal = {
        show: function(id) {
            document.querySelector(id).style.display = "block";
            document.querySelector(".dark-overlay").style.display = "block";
            document.body.classList.add("no-scroll");
        },
        hide: function() {
            document.querySelectorAll(".modal").forEach(function(el) {
                el.style.display = "none";
            });
            document.querySelector(".dark-overlay").style.display = "none";
            document.body.classList.remove("no-scroll");
        },
    };
    //functions
    var device = {};
    device.type = function() {
        var type = "desktop";
        if (window.innerWidth < 768) {
            type = "mobile";
        }
        return type;
    }; //loadcss
    
    document.addEventListener("DOMContentLoaded", function() {
        // modal
        document.querySelectorAll(".modal-close").forEach(function(el) {
            el.addEventListener("click", function() {
                modal.hide();
            });
        });
        document.querySelectorAll(".dark-overlay").forEach(function(el) {
            el.addEventListener("click", function(e) {
                if (e.target === this) {
                    modal.hide();
                }
            });
        }); //css
        load.css(non_critical_css[device.type()]);
        //foreach other_non_critical_css
        other_non_critical_css.forEach(function(url) {
            load.css(url);
        });
    });
    
    function processBanner(pcs, mbs, config) {
        let urlParams = new URLSearchParams(window.location.search);
        let c = urlParams.get("c");
        let p = urlParams.get("p");
        p = p === null ? 1 : parseInt(p);
        let bannerPool = [];
        if (window.innerWidth < 769) {
            bannerPool = mbs;
        } else {
            bannerPool = pcs;
        }
        if (!config.allowed_all) {
            if (c !== null) {
                let allowed_cat = config.allowed_cat;
                let input_cats = parseInt(atob(c).split(","));
                console.log(input_cats);
                if (allowed_cat.length > 0) {
                    let found = false;
                    input_cats.forEach((input_cat) => {
                        if (allowed_cat.includes(parseInt(input_cat))) {
                            found = true;
                        }
                    });
                    if (config.allowed_posts.includes(parseInt(p))) {
                        found = true;
                    }
                    if (!found) {
                        bannerPool = [];
                    } else {
                        bannerPool = bannerPool.filter((banner) => {
                            let banner_cat = banner.banner.allowed_cat;
                            if (banner_cat.length > 0) {
                                let found = false;
                                input_cats.forEach((input_cat) => {
                                    if (banner_cat.includes(parseInt(input_cat))) {
                                        found = true;
                                    }
                                });
                                if (banner.banner.allowed_posts.includes(parseInt(p))) {
                                    found = true;
                                }
                                return found;
                            } else {
                                return true;
                            }
                        });
                    }
                }
            }
        }
        if (config.except_posts.includes(parseInt(p))) {
            bannerPool = [];
        } else {
            bannerPool = bannerPool.filter((banner) => {
                return !banner.banner.except_posts.includes(parseInt(p));
            });
        }
        bannerPool = bannerPool.filter((banner) => {
            if (banner.banner.schedule_on !== null) {
                let schedule_on = new Date(banner.banner.schedule_on);
                let schedule_off = new Date(banner.banner.schedule_off);
                let now = new Date();
                return (
                    banner.banner.enable &&
                    now >= schedule_on &&
                    (now <= schedule_off || banner.banner.schedule_off === null)
                    ) ;
            } else {
                return banner.banner.enable;
            }
        });
        if (bannerPool.length === 0) {
            if (window.innerWidth < 769) {
                bannerPool = [{
                    percent: 100,
                    banner: config.default_mb
                }];
            } else {
                bannerPool = [{
                    percent: 100,
                    banner: config.default_pc
                }];
            }
        }
        let totalPercent = 0;
        bannerPool.forEach((banner) => {
            totalPercent += banner.percent;
        });
        if (totalPercent < 100) {
            bannerPool.forEach((banner) => {
                banner.percent = Math.ceil((banner.percent / totalPercent) * 100);
            });
        }
        return bannerPool;
    }

    function insertBannerAtMiddle(entryElement, templateId) {
        // Get the height of the entry element and the screen height
        const entryHeight = entryElement.getBoundingClientRect().height;
        const screenHeight = window.innerHeight;

        // Only proceed if the entry height is greater than the screen height
        if (entryHeight < screenHeight) {
            return;
        }

        const children = Array.from(entryElement.children);
        let totalHeight = 0;
        const heights = children.map((child) => {
            const height = child.getBoundingClientRect().height;
            totalHeight += height;
            return height;
        });

        const midpointHeight = totalHeight / 2;
        let cumulativeHeight = 0;
        let insertPosition = 0;

        for (let i = 0; i < heights.length; i++) {
            cumulativeHeight += heights[i];
            if (cumulativeHeight >= midpointHeight) {
                insertPosition = i;
                break;
            }
        }

        // Adjust the insert position if it is next to an image
        if (
        children[insertPosition] &&
        children[insertPosition].tagName.toLowerCase() === "figure"
        ) {
            insertPosition++;
        } else if (
        children[insertPosition - 1] &&
        children[insertPosition - 1].tagName.toLowerCase() === "figure"
        ) {
            insertPosition--;
        }

        // Get the banner template content
        const template = document.getElementById(templateId);
        if (!template) {
            console.error("Template not found: ", templateId);
            return;
        }

        const bannerElement = document.importNode(template.content, true);

        // Insert the banner element
        if (insertPosition < children.length) {
            entryElement.insertBefore(bannerElement, children[insertPosition]);
        } else {
            entryElement.appendChild(bannerElement);
        }

        // Apply a fade-in effect
        const bannerBlock = entryElement.querySelector(".banner-block");
        if (bannerBlock) {
            bannerBlock.style.opacity = 0;
            bannerBlock.style.transition = "opacity 0.5s";
            // Force a reflow to apply the transition
            bannerBlock.getBoundingClientRect();
            bannerBlock.style.opacity = 1;
        }
    }

</script>
