@{
    ViewData["Title"] = "Giới thiệu";
}



@* Mặc định phải phải có *@
@* <div class="container">
    <main role="main" class="pb-3">

        # Content của trang

    </main>
</div> *@

<div class="container">
    <main role="main" class="pb-3">
        <h3>@ViewData["Title"]</h3>
        <h1>GIỚI THIỆU KÊNH VOV – FM89MHz</h1>
        
    </main>
</div>