
@{
    ViewData["Title"] = "Đăng nhập";
}

<div  class="wrapper">
    <div id="loginForm" class="container main">
        <div  class="form-login">
            <div class="col-6 side-image">
                       
                <!-------------      image     ------------->
                <img src="~/images/bg_login.jpg">
            </div>
            <div class="col-6 right">
                <div class="input-box">                    
                   <h2>Đăng nhập</h2>
                        <div class="input-field">
                        <input type="n" class="input-info" id="sdt" required="vdavdasda" autocomplete="off">
                        <label for="sdt">Số điện thoại</label> 
                    </div> 
                   <div class="input-field">
                        <input type="password" class="input-info" id="pass" required="">
                        <label for="pass">Mật khẩu</label>
                    </div> 
                   <div class="input-field">
                        <input type="submit" class="submit" value="Đăng nhập">
                   </div> 

                    <div class="signin">
                        <span>
                            Bạn chưa có tài khoản? 
                            <a asp-controller="Home" asp-action="Register">
                                Đăng ký
                            </a>
                        </span>
                   </div>
                </div>  
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function() {
        document.getElementById("loginForm").scrollIntoView({
            behavior: "smooth",
            block: "start"
        });
    };
</script>