
@{
    ViewData["Title"] = "Đăng ký";
    
}

<div class="wrapper">
    <div id="loginForm" class="container main">
        <div class="form-login">
            <div class="col-6 side-image">
                       
                <!-------------      image     ------------->
                <img src="~/images/bg_login.jpg">
            </div>
            <div class="col-6 right">
                <div class="input-box">                    
                   <h2>Đăng ký</h2>

                   <div class="input-field">
                        <input type="text" class="input-info" id="sdt" required="" autocomplete="off">
                        <label for="sdt">Số điện thoại</label> 
                    </div> 
                    <div class="input-field">
                        <input type="text" class="input-info" id="username" required="">
                        <label for="username">Tên người dùng</label>
                    </div> 
                   <div class="input-field">
                        <input type="password" class="input-info" id="pass" required="">
                        <label for="pass">Mật khẩu</label>
                    </div> 
                    <div class="input-field">
                        <input type="password" class="input-info" id="repass" required="">
                        <label for="repass">Nhập lại mật khẩu</label>
                    </div> 
                   <div class="input-field">
                        <input type="submit" class="submit" value="Đăng ký">
                   </div> 
                   <div class="signin">
                    <span>
                        Bạn đã có tài khoản? 
                        <a asp-controller="Home" asp-action="Login">
                            Đăng nhập
                        </a>
                    </span>
                   </div>
                </div>  
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function() {
        document.getElementById("loginForm").scrollIntoView({
            behavior: "smooth",
            block: "start"
        });
    };
</script>
