@{
    ViewData["Title"] = "HomeBs";
    Layout = "~/Views/Shared/Bs_Layout.cshtml";
   <link rel="stylesheet" href="~/css/HomeBs.css" asp-append-version="true" />
}

<section class="dashboard">
        <div class="card">
            <h3>Tiếp nhận bệnh</h3>
            <p>Tiếp nhận thông tin</p>
        </div>
        <!-- Các card khác... -->
</section>