.cover_list_news {
    height: 300px;
    text-align: center;
    max-height: 440px;
    position: relative;
    overflow: hidden;
}

.name_cate_cover {
    transform: translate(-50%,-50%);
    max-width: var(--max-body);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    line-height: 60px;
    }

.animcc{
    opacity: 0;
    transform: translate(-40%,-40%);
    animation: moveup 0.9s linear forwards;
  }
  @keyframes moveup{
    100%{
      opacity: 1;
      transform: translate(-50%,-50%);
    }
  }
.bread-flow{
    padding: 5px;
    width: 100%;
    background-color: white;
    text-align: center;
    margin: 10px 0;
}
.breadcrumb .breadcrumb-item a{
    font-weight: bold !important;
}
.breadcrumb{
  padding: 0;
  margin: 0;
}


.title-content_arti h2{
    font-size: 35px;
    line-height: 1.2;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #a12e35;
  }

  .title-content_arti h2::after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 200px;
    height: 4px;
    background: #a12e35;
    }
.content-article{
    margin: 10px 20px;
}


/* ------ FILLTER DOCTOR ----- */
.d-img{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}

.doctor-img {
  max-height: 130px;
  object-fit: cover;
  margin: auto;
}
.doctor-card {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  height: 200px;
  background-color: white;
}
.content-doctor{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  max-height: max-content;
  width: 70%;
}
.content-doctor span{
  font-weight: 800;
  font-size: 16px;
}

.doctor-card h5{
  font-weight: bold;
}
.btn-search{
  width: 100%;
  background: #51be9d;
  padding:  5px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.filter-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.search_doc{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
  gap: 60px;
}
.btn-subex{
  background: #0076c0;
  background-size: auto 15px;
  font-size: 13px;
  width: 130px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.btn-subex:hover{
  background-color: #51be9d;
}

/* ------- DETAIL DOCTOR -------- */
.div-doc{
  background-color: white;
}
.title-doc{
  display: flex;
}
.avar-doc{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
}
.doctor-image {
  max-width: 200px;
  object-fit: cover;
  height: auto;
  margin: 10px;
}
.avar-doc h2{
  font-size: 16px;
  line-height: 28px;
  color: #0067ab !important;
  font-weight: 700;
  padding: 0;
}
.fm-text{
  font-size: 22px;
  line-height: 28px;
  color: #0067ab !important;
  font-weight: 700;
  margin: 0;
}
.custom-btn {
  background: #00b5a5;
  border-color: #00b5a5;
  border-radius: 40px;
  display: block;
  padding: 7px 20px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 25px 20px;
  margin-bottom: 0;
}
.custom-btn:hover {
  outline: 0;
  color: #076fbf;
  text-decoration: none;
}
.line-ver{
  height: 1px;
background: #ddd;
margin-bottom: 20px;
margin-top: 20px;
}
.fm-text-drop{
  background-color: #0076c0;
  color: #fff;
  cursor: pointer;
  padding: 15px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: relative;
  margin-top: 7px;
}
.fm-text-drop::before{
  position: absolute;
  right: 20px;
  top: 18px;
  content: "";
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* ------------ Examine History ------- */

.table-lsk{
  min-height: 300px;
}
.centerls{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------- Account Bank --------- */
.sodu{
  background-color: #0068ab;
  width: 100%;
  margin-bottom: 10px;
}
.sodu h3{  
  font-weight: bold;
  padding: 20px;
  font-size: 30px;
  background-color: #0068ab;
  color: white;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-option {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.payment-option.selected {
  border-color: #007bff;
}
.payment-logo {
  max-height: 30px;
  margin-right: 10px;
}
.account{
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  padding: 20px;
  width: 80%;
}


.title-content_accou h2{
  font-size: 35px;
  line-height: 1.2;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: start;
  color: #a12e35;
}

.title-content_accou h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 5px;
  bottom: 0;
  width: 200px;
  height: 4px;
  background: #a12e35;
  }

  /* ----------- BOOK Examine ---------- */
  .form-booking{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .book-form{
    width: 70%;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    border: 4px dotted #a12e35;
  }
  .book-form h4{
    font-weight: bold;
    font-size: 30px;
    color: #4a4a4a;
  }
  .boder-ex{
    border-radius: 10px;
    border: 1px solid #b6b6b6;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .form-label.required::after {
    content: " *";
    color: red;
}
.fee{
  text-align: end;
  margin-right: 50px;
}
.fee label{
  font-weight: bold;
  font-size: 20px;
  
}
.fee span{
  font-weight: bold;
  font-size: 35px;
  color: rgb(217, 7, 7);
}
.btn-send-book{
  background: #51be9d;
  padding: 15px 60px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

/* ------- VERIFY NUMBER ------- */
.form-verify{
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.form-card {
  width: 400px;
  height: 450px;
  border-radius: 1.2rem;
  background-color: #fff;
  padding: 1.3rem;
  color: #212121;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.134);;
}

.form-card-title h2{
  font-size: 30px;
  line-height: 1.2;
  position: relative;
  padding-bottom: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-card-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #6fbc9f;
  }

.form-card-prompt {
  margin-bottom: 2rem;
  font-size: 16px;
}

.form-card-input {
  all: unset;
}

.form-card-input-wrapper {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  margin-bottom: 1rem;
}

.form-card-input {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1rem;
  text-align: start;
  transform: translateX(85px);
  position: absolute;
  z-index: 3;
  background-color: transparent;
}

.form-card-input-bg {
  content: '';
  width: 240px;
  height: 60px;
  margin: auto;
  inset: 0;
  bottom: 10px;
  position: absolute;
  z-index: 1;
  border-radius: 12px;
  background-color: rgba(206, 206, 206, 0.664);
}

.form-card-submit {
  width: 250px;
  margin-bottom: 10px;
  color: white;
  border: none;
  background-color: #51be9d;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem;
  transition: 200ms ease-in-out;
}

.form-card-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form-card-return{
  width: 150px;
  color: #212121;
  border: none;
  background-color: white;
  border: 2px solid #51be9d;
  font-size: 1rem;
  border-radius: 0.8rem;
  padding: 0.5rem 2rem;
  transition: 200ms ease-in-out;
}
.form-card-return:hover{
  color: white;
  background-color: #6fbc9f;
}
.call-again {
  color: #5e5e5e;
  font-size: 14px;
}

/* ------ LIST ARTICLE ------ */
.list_Arti{
  min-height: 400px;
}
.title-arti{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  background-color: white;
  clear: both;
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}
.title-arti a{
  margin-left: 50px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  color: #3f3f3f !important;
}
.title-arti a:hover{
  color: #076fbf !important;
}

/* Style the search box */
#mySearch {
  width: 100%;
  padding: 5px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

#mySearch:focus, 
#mySearch:hover {
  outline: none;
  border-color: #0068ab;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(13, 160, 251, 0.217);
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; /* Ẩn menu mặc định */
}

#myMenu li a {
  padding: 8px 12px;
  text-decoration: none;
  color: #555;
  display: block;
  transition: background-color 0.2s ease;
}

#myMenu li a:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.fm-propose {
  position: absolute;
  background-color: white;
  
  border-radius: 10px;
  margin-top: 5px;
  width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search_doc {
  position: relative;
}

.ic-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

/* -------- ĐÁNH GIÁ -------- */

.list-comments{
  max-height: 300px;
  overflow-x: auto;
  margin: 20px;
  display: flex;
}
.post-card {
  min-width: 350px;
  background: rgb(250, 246, 246);
  border: 2px dotted rgb(103, 144, 255);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.avatar {
  display: flex;
  align-items: center;
  border-radius: 50%;
}


.title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 10px;
  color: rgb(101, 101, 101);
  text-decoration: none;
  transition: all .35s ease-in;
}

.datetime {
  font-size: 12px;
  color: rgb(80, 80, 80);
  margin: 5px 0;
}

.image-preview {
  flex: 1;
  min-height: 50px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(32, 101, 221);
  margin-bottom: 4px;
  text-align: start;
  font-size: 16px;
  padding: 10px;
}

.comment-like {
  min-width: 50px;
  align-items: center;
  padding: 2px 0;
}
